# แบบฝึกหัด 1

---

### 1.1

***เขียนโปรแกรมเพื่อเปลี่ยนค่าจากองศาเซลเซียสไปเป็นองศาฟาเรนไฮต์และเคลวิน โดยมีสูตรคำนวณดังนี้***

F = (9/5)C + 32  
K = C + 273.15

รับข้อมูลองศาเซลเซียส

In [33]:
C = [39.85, 25, 32]

### แปลงเป็นองศาฟาเรนไฮต์ให้ได้ผลลัพธ์เป็น list เก็บในตัวแปร F

In [2]:
print('test')

test

ผลลัพธ์ที่ต้องการแสดง [103.73, 77.0, 89.6]

### แปลงเป็นองศาฟาเคลวินให้ได้ผลลัพธ์เป็น list เก็บใน K

In [34]:
def celcius_to_kelvin(c):
  k = c + 273.15
  return k

def celcius_to_f(c):
  f = (9/5)*c + 32
  return f

In [35]:
K = []

for c in C:
  result = c + 273.15
  K.append(result)

# Your code

print(K)

[313.0, 298.15, 305.15]

In [36]:
K = []

for c in C:
  result = celcius_to_kelvin(c)
  K.append(result)

# Your code

print(K)

[313.0, 298.15, 305.15]

ผลลัพธ์ที่ต้องการแสดง [313.0, 298.15, 305.15]

### แสดงการสรุปผล

In [32]:
# Your code
print(f"39.85°C = {celcius_to_f(39.85)}°F = {celcius_to_kelvin(39.85)}°K")
print(f"25°C = {celcius_to_f(25)}°F = {celcius_to_kelvin(25)}°K")
print(f"32°C = {celcius_to_f(32)}°F = {celcius_to_kelvin(32)}°K")

39.85°C = 103.73°F = 313.0°K
25°C = 77.0°F = 298.15°K
32°C = 89.6°F = 305.15°K

In [72]:
a = 20
b = "apple"

print(f"I have total of {b} {a}")

I have total of apple 20

In [73]:
pf = lambda c : c + 273.15

print("K = ",pf(30))

K =  303.15

ผลที่ต้องการแสดง  
39.85 °C = 103.73 °F = 313.0 °K  
25 °C = 77.0 °F = 298.15 °K  
32 °C = 89.6 °F = 305.15 °K

---

### 1.2

ให้นิสิตแสดงวิธีการแปลง list income (ซึ่งเปรียบเสมือนเป็นข้อมูลเงินเดือนของผู้ตอบแบบสอบถาม 20 ท่าน)  
ให้เป็น numpy array เก็บในตัวแปรที่ชื่อ income_number โดย array ที่แปลงได้ควรมีชนิด dtype เป็น float   
การแปลง string ให้เป็น float กำหนดให้ K = 1000 และ M = 1000000   
string "-" ให้แปลงเป็น np.nan (dtype ต้องเป็น float จึงจะใช้ np.nan ได้)

\*โจทย์ข้อนี้สามารถทำได้หลายวิธี  
หากใช้ numpy นิสิตอาจต้องหาข้อมูลเพิ่ม เช่น การใช้ np.char.replace หรือฟังก์ชัน eval

In [15]:
import numpy as np

In [16]:
income = ["20K", "3M", "12K", "0.04M", "0.023K", "-", "16K", "740K", "15K", "40K",
         "-", "17K", "-", "120K", "56K", "-", "42K", "2M", "0.14M", "60K"]

In [25]:
income_number = np.array([20*pow(10,3),3*pow(10,6),12*pow(10,3),0.04*pow(10,6),0.023*pow(10,3),np.nan,16*pow(10,3),740*pow(10,3),15*pow(10,3),40*pow(10,3),
                         np.nan,17*pow(10,3),np.nan,120*pow(10,3),56*pow(10,3),np.nan,42*pow(10,3),2*pow(10,6),0.14*pow(10,6),60*pow(10,3)
                          ],dtype="float64")

# นิสิตแสดงวิธีการด้วยการเขียนโค้ด
income_number

array([2.0e+04, 3.0e+06, 1.2e+04, 4.0e+04, 2.3e+01,     nan, 1.6e+04,
       7.4e+05, 1.5e+04, 4.0e+04,     nan, 1.7e+04,     nan, 1.2e+05,
       5.6e+04,     nan, 4.2e+04, 2.0e+06, 1.4e+05, 6.0e+04])

In [64]:
import numpy as np


def convert_to_float(value):
    if 'K' in value:
        return float(value.replace('K', ''))*pow(10,3)
    elif 'M' in value:
        return float(value.replace('M', ''))*pow(10,6)
    else:
        return np.nan

# Example input list
input_list = ["20K", "3M", "12K", "0.04M", "0.023K", "-", "16K", "740K", "15K", "40K",
              "-", "17K", "-", "120K", "56K", "-", "42K", "2M", "0.14M", "60K"]

# Convert the list of strings to a list of floats, with np.nan for dashes
float_list = [convert_to_float(value) for value in input_list]

#print(float_list)


income_number = np.array(float_list,dtype='float64')

print(income_number)
print(type(income_number))

[2.0e+04 3.0e+06 1.2e+04 4.0e+04 2.3e+01     nan 1.6e+04 7.4e+05 1.5e+04
 4.0e+04     nan 1.7e+04     nan 1.2e+05 5.6e+04     nan 4.2e+04 2.0e+06
 1.4e+05 6.0e+04]
<class 'numpy.ndarray'>

In [ ]:
# NameError = ตัวแปรยังไม่อากาศ   เราพิมพ์ชื่อตัวแปรผิด
# TypeError =    int("30M")

In [56]:
print(float('20K'.replace('K',''))*pow(10,3))

20000.0

##วิธีการของนิสิตควรได้ผลลัพธ์ดังที่ระบุเมื่อรัน cell ต่อไปนี้

In [65]:
print(income_number)

[2.0e+04 3.0e+06 1.2e+04 4.0e+04 2.3e+01     nan 1.6e+04 7.4e+05 1.5e+04
 4.0e+04     nan 1.7e+04     nan 1.2e+05 5.6e+04     nan 4.2e+04 2.0e+06
 1.4e+05 6.0e+04]

ผลลัพธ์ที่ควรแสดง: array([2.0e+04, 3.0e+06, 1.2e+04, 4.0e+04, 2.3e+01,     nan, 1.6e+04,
       7.4e+05, 1.5e+04, 4.0e+04,     nan, 1.7e+04,     nan, 1.2e+05,
       5.6e+04,     nan, 4.2e+04, 2.0e+06, 1.4e+05, 6.0e+04])

In [66]:
type(income_number)

numpy.ndarray

ผลลัพธ์ที่ควรแสดง: numpy.ndarray

In [67]:
income_number.dtype

dtype('float64')

ผลลัพธ์ที่ควรแสดง: dtype('float64')

In [68]:
np.nanmean(income_number)

394876.4375

In [70]:
np.mean(income_number)

nan

ผลลัพธ์ที่ควรแสดง: 394876.4375

In [69]:
np.nanmedian(income_number)

41000.0

In [71]:
np.median(income_number)

nan

ผลลัพธ์ที่ควรแสดง: 41000.0

---